{% extends "base.html" %}

{% block body %}
    <div id="masthead-other">
        <h2>Control Panel</h2>
    </div>
    <br class="clear" />
</div> <!-- end masthead -->

<div id="cpadmin">
    <a href="/admin/">Complete Admin</a>
</div>
<div id="create-game">
<fieldset>
<legend>Create Games</legend>
<form action="/create_game" method="post">
    {{ game_form }}
    <input type="submit" value="Create Game" />
</form>
</fieldset>

</div>

<div id="get-spreadsheet">
<fieldset>
<legend>Download Data as Spreadsheet</legend>
    <form method="get" action="spreadsheet">
        <div>
            <div class="instructions">
                Enter a starting date and time.  Data will start at the date and time <strong>you</strong> enter and go to the <strong>current</strong> date and time.
            </div>
            Start Date and Time: <input type="text" name="datetime" id="datetime" value="" /> <input type="submit" value="Download" />
        </div>
    </form>
</fieldset>
</div>

<fieldset>
    <legend>Get Charts</legend>
    <div class="instructions">
        Select supply chain name to generate chart link.
    </div>
    <div id="chart-games">
        <select id="chart-select">
            <option value="none">
                {% ifequal games|length 0 %}
                    No games
                {% else %}
                    Select supply chain...
                {% endifequal %}
            </option>
        {% for game in games %}
            <option value="{{ game.pk }}">{{ game.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div id="chart-output">
    </div>
</fieldset>
{% endblock %}
