{% extends "game.html" %}
    {% block extracss %}
    <style type="text/css">
        @import url(/static/css/qunit.css);
    </style>
    {% endblock %}

    {% block preextrajs %}
    <script type="text/javascript">
        AJAX_URL = "/game/1/Factory/ajax/";
    </script>
    {% endblock %}

    {% block postextrajs %}
    <script type="text/javascript" src="/static/js/qunit.js"></script>
    <script type="text/javascript" src="/static/js/tests.js"></script>
    {% endblock %}

    {% block tests %}
    <div id="qunit-wrapper">
        <h1 id="qunit-header">Beergame JS Tests</h1>
        <h2 id="qunit-banner"></h2>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
    </div>
    <br class="clear" />
    {% endblock %}
